@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #c5e4e7;
  width: 23.4375rem;
  margin: 0 auto;
}

@media screen and (min-width: 56.25rem) {
  body {
    width: 56rem;
  }
}

p,
label,
button,
input {
  font-family: "Space Mono", monospace;
  font-weight: 700;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

label {
  display: block;
}

.darkGrayishColor {
  color: #5e7a7d;
}

header {
  margin: 3rem 0;
  text-align: center;
}

main {
  background-color: white;
  border-radius: 16px;
  padding: 2rem;
}

@media screen and (min-width: 56.25rem) {
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

main #input .inputBoxBill {
  position: relative;
}

main #input .inputBoxBill .flexBoxForError {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #input .inputBoxBill .flexBoxForError label {
  display: inline-block;
}

main #input .inputBoxBill .flexBoxForError p.error {
  display: none;
  color: red;
}

main #input .inputBoxBill #inputBill {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  padding: 0.3rem 1rem;
  background-color: #f4fafa;
  color: #00494d;
  text-align: right;
  font-size: 1.5rem;
  border: none;
}

main #input .inputBoxBill #inputBill.error {
  outline: 2px solid red;
}

main #input .inputBoxBill::before {
  position: absolute;
  content: url("../images/icon-dollar.svg");
  bottom: 2.7rem;
  left: 1rem;
}

main #input .flexBox {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

main #input .flexBox .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 9rem;
  height: 2.5rem;
  border-radius: 8px;
  background-color: #00494d;
  color: white;
}

@media screen and (min-width: 56.25rem) {
  main #input .flexBox .box {
    width: 7.5rem;
  }
}

main #input .flexBox .box label {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  text-align: center;
  font-size: 1.5rem;
}

main #input .flexBox .box label:hover {
  cursor: pointer;
}

main #input .flexBox .box input:checked + label {
  background-color: #26c0ab;
  color: #00494d;
}

main #input .flexBox .box input[type="radio"] {
  display: none;
}

main #input .flexBox .box input[type="number"] {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  padding: 0.3rem 1rem;
  background-color: #f4fafa;
  color: #00494d;
  text-align: right;
  font-size: 1.5rem;
  border: none;
  margin: 0;
  text-align: right;
  height: 100%;
  width: 100%;
  border-radius: 6px;
}

main #input .inputBoxPeople {
  position: relative;
}

main #input .inputBoxPeople .flexBoxForError {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #input .inputBoxPeople .flexBoxForError label {
  display: inline-block;
}

main #input .inputBoxPeople .flexBoxForError p.error {
  display: none;
  color: red;
}

main #input .inputBoxPeople #inputPerson {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  padding: 0.3rem 1rem;
  background-color: #f4fafa;
  color: #00494d;
  text-align: right;
  font-size: 1.5rem;
  border: none;
}

main #input .inputBoxPeople #inputPerson.error {
  outline: 2px solid red;
}

main #input .inputBoxPeople::before {
  position: absolute;
  content: url("../images/icon-person.svg");
  bottom: 2.7rem;
  left: 1rem;
}

main #output {
  padding: 1.5rem;
  padding-top: 2rem;
  border-radius: 19px;
  background-color: #00494d;
}

main #output .gridBox {
  margin-bottom: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "title result" "desc result";
}

@media screen and (min-width: 56.25rem) {
  main #output .gridBox {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

main #output .gridBox p:first-child {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  font-size: 1rem;
  color: white;
}

main #output .gridBox p:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: desc;
  color: #7f9c9f;
  font-size: 0.8rem;
}

main #output .gridBox .result {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: result;
  -ms-grid-column-align: right;
      justify-self: right;
  font-size: 1.7rem;
  color: #26c0ab;
}

main #output .gridBox .result::before {
  position: absolute;
  content: "$";
  top: 0;
  left: -1rem;
  color: #26c0ab;
  font-size: 1.7rem;
}

main #output button {
  padding: 0.5rem;
  width: 100%;
  border-radius: 4px;
  border: none;
  background-color: #26c0ab;
  text-transform: uppercase;
  color: #00494d;
  font-size: 1.2rem;
}

@media screen and (min-width: 56.25rem) {
  main #output button {
    margin-top: 6.5rem;
  }
}
/*# sourceMappingURL=main.css.map */